#header {
  display: "flex";
  align-items: "center";
}

#footer {
  text-align: center;
}

.button_div {
  float: right;
}

.button {
  margin-left: 5px;
  border: solid 1px gray;
}

.logOutBtn {
  margin-left: 10px;
}

.loginSpan {
  color: white;
}

.userImg {
  background-color: white;
}
